@font-face {
    font-family: 'SingleGhost';
    src: url('SingleGhostregular.woff2') format('woff2'),
        url('SingleGhostregular.woff') format('woff');
    font-weight: normal; font-style: normal; font-display: swap;
}
.single-ghost {font-family: 'SingleGhost';}
